@import "tailwindcss";

@theme {
  --font-sans: 'Kanit', sans-serif;
  
  --color-dark: #0C0C0C;
  --color-light: #D7E2EA;
}

@layer base {
  *, ::before, ::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
  }

  html, body, #root {
    background-color: var(--color-dark);
    color: var(--color-light);
    font-family: var(--font-sans);
    overflow-x: clip;
    width: 100%;
    min-height: 100vh;
  }
}

@layer utilities {
  .hero-heading {
    background: linear-gradient(180deg, #646973 0%, #BBCCD7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}
